/*
:root {
    --variable-name: value;
}
*/

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

input {
    display: block;
    margin: 1rem 0;
}

#colour-1, #colour-2 {
    background-color: hsl(180, 50%, 50%);
    /* display: inline-block; */
    font-family: 'Space Mono', monospace;
    height: 12rem;
    padding: 1rem;
    width: 12rem;
}